USE [StudIA]
GO
/****** Objeto: Table [dbo].[Apunte] Fecha de script: 1/6/2026 18:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apunte](
	[id_apunte] [int] IDENTITY(1,1) NOT NULL,
	[id_materia] [int] NOT NULL,
	[titulo] [varchar](150) NOT NULL,
	[ruta_archivo] [varchar](260) NOT NULL,
	[tipo_archivo] [varchar](20) NOT NULL,
	[tamaño_bytes] [bigint] NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_apunte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Examen] Fecha de script: 1/6/2026 18:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examen](
	[id_examen] [int] IDENTITY(1,1) NOT NULL,
	[id_materia] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[puntaje] [int] NULL,
	[cantidad_preguntas] [int] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_examen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Flashcard] Fecha de script: 1/6/2026 18:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flashcard](
	[id_flashcard] [int] IDENTITY(1,1) NOT NULL,
	[id_apunte] [int] NOT NULL,
	[pregunta] [varchar](500) NOT NULL,
	[dificultad] [tinyint] NULL,
	[activa] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
	[titulo] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_flashcard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Materia] Fecha de script: 1/6/2026 18:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[id_materia] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[nombre_materia] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pomodoro] Fecha de script: 1/6/2026 18:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pomodoro](
	[id_pomodoro] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
	[duracion_estudio] [int] NOT NULL,
	[duracion_descanso] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pomodoro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Progreso] Fecha de script: 1/6/2026 18:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Progreso](
	[id_progreso] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_materia] [int] NOT NULL,
	[avance_porcentual] [decimal](5, 2) NOT NULL,
	[comentarios] [varchar](255) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_progreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Respuesta] Fecha de script: 1/6/2026 18:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuesta](
	[id_respuesta] [int] IDENTITY(1,1) NOT NULL,
	[id_flashcard] [int] NOT NULL,
	[texto_respuesta] [varchar](500) NOT NULL,
	[es_correcta] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_respuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoUsuario] Fecha de script: 1/6/2026 18:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[id_tipo_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo] [varchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 1/6/2026 18:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[contraseña] [varchar](255) NOT NULL,
	[nivel_educativo] [varchar](100) NULL,
	[id_tipo_usuario] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Apunte] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Apunte] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Examen] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Flashcard] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[Flashcard] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Materia] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Pomodoro] ADD  DEFAULT (sysdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[Pomodoro] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Progreso] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Respuesta] ADD  DEFAULT ((0)) FOR [es_correcta]
GO
ALTER TABLE [dbo].[Respuesta] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[TipoUsuario] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Apunte]  WITH NOCHECK ADD  CONSTRAINT [FK_Apunte_Materia] FOREIGN KEY([id_materia])
REFERENCES [dbo].[Materia] ([id_materia])
GO
ALTER TABLE [dbo].[Apunte] NOCHECK CONSTRAINT [FK_Apunte_Materia]
GO
ALTER TABLE [dbo].[Examen]  WITH NOCHECK ADD  CONSTRAINT [FK_Examen_Materia] FOREIGN KEY([id_materia])
REFERENCES [dbo].[Materia] ([id_materia])
GO
ALTER TABLE [dbo].[Examen] NOCHECK CONSTRAINT [FK_Examen_Materia]
GO
ALTER TABLE [dbo].[Flashcard]  WITH NOCHECK ADD  CONSTRAINT [FK_Flashcard_Apunte] FOREIGN KEY([id_apunte])
REFERENCES [dbo].[Apunte] ([id_apunte])
GO
ALTER TABLE [dbo].[Flashcard] NOCHECK CONSTRAINT [FK_Flashcard_Apunte]
GO
ALTER TABLE [dbo].[Materia]  WITH NOCHECK ADD  CONSTRAINT [FK_Materia_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Materia] NOCHECK CONSTRAINT [FK_Materia_Usuario]
GO
ALTER TABLE [dbo].[Pomodoro]  WITH NOCHECK ADD  CONSTRAINT [FK_Pomodoro_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Pomodoro] NOCHECK CONSTRAINT [FK_Pomodoro_Usuario]
GO
ALTER TABLE [dbo].[Progreso]  WITH NOCHECK ADD  CONSTRAINT [FK_Progreso_Materia] FOREIGN KEY([id_materia])
REFERENCES [dbo].[Materia] ([id_materia])
GO
ALTER TABLE [dbo].[Progreso] NOCHECK CONSTRAINT [FK_Progreso_Materia]
GO
ALTER TABLE [dbo].[Progreso]  WITH NOCHECK ADD  CONSTRAINT [FK_Progreso_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Progreso] NOCHECK CONSTRAINT [FK_Progreso_Usuario]
GO
ALTER TABLE [dbo].[Respuesta]  WITH NOCHECK ADD  CONSTRAINT [FK_Respuesta_Flashcard] FOREIGN KEY([id_flashcard])
REFERENCES [dbo].[Flashcard] ([id_flashcard])
GO
ALTER TABLE [dbo].[Respuesta] NOCHECK CONSTRAINT [FK_Respuesta_Flashcard]
GO
ALTER TABLE [dbo].[Usuario]  WITH NOCHECK ADD  CONSTRAINT [FK_Usuario_TipoUsuario] FOREIGN KEY([id_tipo_usuario])
REFERENCES [dbo].[TipoUsuario] ([id_tipo_usuario])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoUsuario]
GO
/****** Objeto: StoredProcedure [dbo].[sp_Apunte_Actualizar] Fecha de script: 1/6/2026 18:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Apunte_Actualizar]
  @id_apunte INT,
  @titulo VARCHAR(150),
  @ruta_archivo VARCHAR(260),
  @tipo_archivo VARCHAR(20),
  @tamaño_bytes BIGINT
AS
BEGIN
  UPDATE Apunte
  SET titulo = @titulo,
      ruta_archivo = @ruta_archivo,
      tipo_archivo = @tipo_archivo,
      tamaño_bytes = @tamaño_bytes
  WHERE id_apunte = @id_apunte AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Apunte_Crear] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------------------------------------------------------------
-- APUNTE
------------------------------------------------------------

CREATE   PROCEDURE [dbo].[sp_Apunte_Crear]
  @id_materia INT,
  @titulo VARCHAR(150),
  @ruta_archivo VARCHAR(260),
  @tipo_archivo VARCHAR(20),
  @tamaño_bytes BIGINT
AS
BEGIN
  INSERT INTO Apunte (id_materia, titulo, ruta_archivo, tipo_archivo, tamaño_bytes)
  VALUES (@id_materia, @titulo, @ruta_archivo, @tipo_archivo, @tamaño_bytes);

  SELECT SCOPE_IDENTITY() AS id_apunte;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Apunte_Eliminar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Apunte_Eliminar]
  @id_apunte INT
AS
BEGIN
  UPDATE Apunte SET activo = 0 WHERE id_apunte = @id_apunte;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Apunte_Obtener] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Apunte_Obtener]
AS
BEGIN
  SELECT * FROM Apunte WHERE activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Apunte_ObtenerPorID] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Apunte_ObtenerPorID]
  @id_apunte INT
AS
BEGIN
  SELECT * FROM Apunte 
  WHERE id_apunte = @id_apunte AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Apunte_ObtenerPorMateria] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- APUNTE: Obtener apuntes de una materia con conteo de flashcards
CREATE   PROCEDURE [dbo].[sp_Apunte_ObtenerPorMateria]
    @id_materia INT
AS
BEGIN
    SELECT 
        a.id_apunte, a.id_materia, a.titulo, a.ruta_archivo, a.tipo_archivo, a.tamaño_bytes, a.fecha_creacion,
        (SELECT COUNT(*) FROM Flashcard f WHERE f.id_apunte = a.id_apunte AND f.activa = 1) as cantFlashcards
    FROM Apunte a
    WHERE a.id_materia = @id_materia AND a.activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Dashboard_ObtenerEstadisticas] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DASHBOARD: Estadísticas globales (Devuelve 3 tablas de resultados)
CREATE   PROCEDURE [dbo].[sp_Dashboard_ObtenerEstadisticas]
    @id_usuario INT
AS
BEGIN
    -- 1. Resumen General
    SELECT 
        (SELECT COUNT(*) FROM Materia WHERE id_usuario = @id_usuario AND activo = 1) AS totalMaterias,
        (SELECT COUNT(*) FROM Flashcard f INNER JOIN Apunte a ON f.id_apunte = a.id_apunte INNER JOIN Materia m ON a.id_materia = m.id_materia WHERE m.id_usuario = @id_usuario AND f.activa = 1) AS totalFlashcards,
        (SELECT COUNT(*) FROM Apunte a INNER JOIN Materia m ON a.id_materia = m.id_materia WHERE m.id_usuario = @id_usuario AND a.activo = 1) AS totalApuntes,
        (SELECT ISNULL(AVG(mejor), 0) FROM (SELECT id_materia, MAX(avance_porcentual) AS mejor FROM Progreso WHERE id_usuario = @id_usuario AND activo = 1 GROUP BY id_materia) sub) AS progresoPromedio,
        (SELECT ISNULL(AVG(avance_porcentual), 0) FROM Progreso WHERE id_usuario = @id_usuario AND activo = 1) AS precision;

    -- 2. Historial reciente
    SELECT TOP 5 p.id_progreso, p.id_materia, m.nombre_materia, p.avance_porcentual, p.comentarios
    FROM Progreso p
    INNER JOIN Materia m ON p.id_materia = m.id_materia
    WHERE p.id_usuario = @id_usuario AND p.activo = 1
    ORDER BY p.id_progreso DESC;

    -- 3. Rendimiento por Materia
    SELECT m.id_materia, m.nombre_materia, ISNULL(MAX(p.avance_porcentual), 0) AS mejor_puntaje, COUNT(p.id_progreso) AS sesiones
    FROM Materia m
    LEFT JOIN Progreso p ON m.id_materia = p.id_materia AND p.activo = 1
    WHERE m.id_usuario = @id_usuario AND m.activo = 1
    GROUP BY m.id_materia, m.nombre_materia;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Examen_Actualizar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Examen_Actualizar]
  @id_examen INT,
  @fecha DATE,
  @puntaje INT,
  @cantidad_preguntas INT
AS
BEGIN
  UPDATE Examen
  SET fecha = @fecha,
      puntaje = @puntaje,
      cantidad_preguntas = @cantidad_preguntas
  WHERE id_examen = @id_examen AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Examen_Crear] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------------------------------------------------------------
-- EXAMEN
------------------------------------------------------------

CREATE   PROCEDURE [dbo].[sp_Examen_Crear]
  @id_materia INT,
  @fecha DATE,
  @puntaje INT,
  @cantidad_preguntas INT
AS
BEGIN
  INSERT INTO Examen (id_materia, fecha, puntaje, cantidad_preguntas)
  VALUES (@id_materia, @fecha, @puntaje, @cantidad_preguntas);

  SELECT SCOPE_IDENTITY() AS id_examen;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Examen_Eliminar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Examen_Eliminar]
  @id_examen INT
AS
BEGIN
  UPDATE Examen SET activo = 0 WHERE id_examen = @id_examen;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Examen_Obtener] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Examen_Obtener]
AS
BEGIN
  SELECT * FROM Examen WHERE activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Examen_ObtenerPorID] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Examen_ObtenerPorID]
  @id_examen INT
AS
BEGIN
  SELECT * FROM Examen 
  WHERE id_examen = @id_examen AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Flashcard_Actualizar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Flashcard_Actualizar]
  @id_flashcard INT,
  @pregunta VARCHAR(500),
  @dificultad TINYINT,
  @activa BIT
AS
BEGIN
  UPDATE Flashcard
  SET pregunta = @pregunta,
      dificultad = @dificultad,
      activa = @activa
  WHERE id_flashcard = @id_flashcard AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Flashcard_Crear] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Flashcard_Crear]
  @id_apunte INT,
  @titulo VARCHAR(150),
  @pregunta VARCHAR(500),
  @dificultad TINYINT,
  @activa BIT
AS
BEGIN
  INSERT INTO Flashcard (id_apunte, titulo, pregunta, dificultad, activa)
  VALUES (@id_apunte, @titulo, @pregunta, @dificultad, @activa);

  SELECT SCOPE_IDENTITY() AS id_flashcard;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Flashcard_Eliminar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Flashcard_Eliminar]
  @id_flashcard INT
AS
BEGIN
  UPDATE Flashcard SET activo = 0 WHERE id_flashcard = @id_flashcard;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Flashcard_Obtener] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Flashcard_Obtener]
AS
BEGIN
  SELECT * FROM Flashcard WHERE activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Flashcard_ObtenerPorApunte] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- FLASHCARD: Obtener por Apunte
CREATE   PROCEDURE [dbo].[sp_Flashcard_ObtenerPorApunte]
    @id_apunte INT
AS
BEGIN
    SELECT f.id_flashcard, f.id_apunte, a.id_materia, f.titulo, f.pregunta, f.dificultad, f.activo
    FROM Flashcard f
    INNER JOIN Apunte a ON f.id_apunte = a.id_apunte
    WHERE f.id_apunte = @id_apunte AND f.activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Flashcard_ObtenerPorID] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Flashcard_ObtenerPorID]
  @id_flashcard INT
AS
BEGIN
  SELECT * FROM Flashcard 
  WHERE id_flashcard = @id_flashcard AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Flashcard_ObtenerPorMateria] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- FLASHCARD: Obtener por Materia
CREATE   PROCEDURE [dbo].[sp_Flashcard_ObtenerPorMateria]
    @id_materia INT
AS
BEGIN
    SELECT f.id_flashcard, f.id_apunte, f.titulo, f.pregunta, f.dificultad
    FROM Flashcard f
    INNER JOIN Apunte a ON f.id_apunte = a.id_apunte
    WHERE a.id_materia = @id_materia AND f.activa = 1 AND a.activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Materia_Actualizar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Materia_Actualizar]
  @id_materia INT,
  @nombre_materia VARCHAR(100),
  @descripcion VARCHAR(255)
AS
BEGIN
  UPDATE Materia
  SET nombre_materia = @nombre_materia,
      descripcion = @descripcion
  WHERE id_materia = @id_materia AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Materia_Crear] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------------------------------------------------------------
-- MATERIA
------------------------------------------------------------

CREATE   PROCEDURE [dbo].[sp_Materia_Crear]
  @id_usuario INT,
  @nombre_materia VARCHAR(100),
  @descripcion VARCHAR(255)
AS
BEGIN
  INSERT INTO Materia (id_usuario, nombre_materia, descripcion)
  VALUES (@id_usuario, @nombre_materia, @descripcion);

  SELECT SCOPE_IDENTITY() AS id_materia;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Materia_Eliminar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Materia_Eliminar]
  @id_materia INT
AS
BEGIN
  UPDATE Materia SET activo = 0 WHERE id_materia = @id_materia;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Materia_Obtener] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Materia_Obtener]
AS
BEGIN
  SELECT * FROM Materia WHERE activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Materia_ObtenerEstadisticas] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- MATERIA: Obtener materias con estadísticas de progreso
CREATE   PROCEDURE [dbo].[sp_Materia_ObtenerEstadisticas]
    @id_usuario INT
AS
BEGIN
    SELECT 
        m.id_materia, 
        m.nombre_materia, 
        m.descripcion,
        (SELECT COUNT(*) FROM Apunte a WHERE a.id_materia = m.id_materia AND a.activo = 1) as totalApuntes,
        (SELECT COUNT(*) FROM Flashcard f INNER JOIN Apunte a2 ON f.id_apunte = a2.id_apunte WHERE a2.id_materia = m.id_materia AND f.activa = 1 AND a2.activo = 1) as totalFlashcards,
        (SELECT COUNT(*) FROM Progreso p WHERE p.id_materia = m.id_materia AND p.id_usuario = @id_usuario AND p.activo = 1) as sesiones,
        (SELECT ISNULL(MAX(p2.avance_porcentual), 0) FROM Progreso p2 WHERE p2.id_materia = m.id_materia AND p2.id_usuario = @id_usuario AND p2.activo = 1) as mejor_puntaje
    FROM Materia m
    WHERE m.id_usuario = @id_usuario AND m.activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Materia_ObtenerPorID] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Materia_ObtenerPorID]
  @id_materia INT
AS
BEGIN
  SELECT * FROM Materia 
  WHERE id_materia = @id_materia AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Materia_ObtenerPorUsuario] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- MATERIA: Obtener por usuario
CREATE   PROCEDURE [dbo].[sp_Materia_ObtenerPorUsuario]
    @id_usuario INT
AS
BEGIN
    SELECT * FROM Materia WHERE id_usuario = @id_usuario AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Pomodoro_Actualizar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Pomodoro_Actualizar]
  @id_pomodoro INT,
  @duracion_estudio INT,
  @duracion_descanso INT
AS
BEGIN
  UPDATE Pomodoro
  SET duracion_estudio = @duracion_estudio,
      duracion_descanso = @duracion_descanso
  WHERE id_pomodoro = @id_pomodoro AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Pomodoro_Crear] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------------------------------------------------------------
-- POMODORO
------------------------------------------------------------

CREATE   PROCEDURE [dbo].[sp_Pomodoro_Crear]
  @id_usuario INT,
  @duracion_estudio INT,
  @duracion_descanso INT
AS
BEGIN
  INSERT INTO Pomodoro (id_usuario, duracion_estudio, duracion_descanso)
  VALUES (@id_usuario, @duracion_estudio, @duracion_descanso);

  SELECT SCOPE_IDENTITY() AS id_pomodoro;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Pomodoro_Eliminar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Pomodoro_Eliminar]
  @id_pomodoro INT
AS
BEGIN
  UPDATE Pomodoro SET activo = 0 WHERE id_pomodoro = @id_pomodoro;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Pomodoro_Obtener] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Pomodoro_Obtener]
AS
BEGIN
  SELECT * FROM Pomodoro WHERE activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Pomodoro_ObtenerPorID] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Pomodoro_ObtenerPorID]
  @id_pomodoro INT
AS
BEGIN
  SELECT * FROM Pomodoro 
  WHERE id_pomodoro = @id_pomodoro AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Progreso_Actualizar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Progreso_Actualizar]
  @id_progreso INT,
  @avance_porcentual DECIMAL(5,2),
  @comentarios VARCHAR(255)
AS
BEGIN
  UPDATE Progreso
  SET avance_porcentual = @avance_porcentual,
      comentarios = @comentarios
  WHERE id_progreso = @id_progreso AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Progreso_Crear] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------------------------------------------------------------
-- PROGRESO
------------------------------------------------------------

CREATE   PROCEDURE [dbo].[sp_Progreso_Crear]
  @id_usuario INT,
  @id_materia INT,
  @avance_porcentual DECIMAL(5,2),
  @comentarios VARCHAR(255)
AS
BEGIN
  INSERT INTO Progreso (id_usuario, id_materia, avance_porcentual, comentarios)
  VALUES (@id_usuario, @id_materia, @avance_porcentual, @comentarios);

  SELECT SCOPE_IDENTITY() AS id_progreso;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Progreso_Eliminar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Progreso_Eliminar]
  @id_progreso INT
AS
BEGIN
  UPDATE Progreso SET activo = 0 WHERE id_progreso = @id_progreso;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Progreso_Obtener] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Progreso_Obtener]
AS
BEGIN
  SELECT * FROM Progreso WHERE activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Progreso_ObtenerPorID] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Progreso_ObtenerPorID]
  @id_progreso INT
AS
BEGIN
  SELECT * FROM Progreso 
  WHERE id_progreso = @id_progreso AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Respuesta_Actualizar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Respuesta_Actualizar]
  @id_respuesta INT,
  @texto_respuesta VARCHAR(500),
  @es_correcta BIT
AS
BEGIN
  UPDATE Respuesta
  SET texto_respuesta = @texto_respuesta,
      es_correcta = @es_correcta
  WHERE id_respuesta = @id_respuesta AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Respuesta_Crear] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------------------------------------------------------------
-- RESPUESTA
------------------------------------------------------------

CREATE   PROCEDURE [dbo].[sp_Respuesta_Crear]
  @id_flashcard INT,
  @texto_respuesta VARCHAR(500),
  @es_correcta BIT
AS
BEGIN
  INSERT INTO Respuesta (id_flashcard, texto_respuesta, es_correcta)
  VALUES (@id_flashcard, @texto_respuesta, @es_correcta);

  SELECT SCOPE_IDENTITY() AS id_respuesta;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Respuesta_Eliminar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Respuesta_Eliminar]
  @id_respuesta INT
AS
BEGIN
  UPDATE Respuesta SET activo = 0 WHERE id_respuesta = @id_respuesta;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Respuesta_Obtener] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Respuesta_Obtener]
AS
BEGIN
  SELECT * FROM Respuesta WHERE activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Respuesta_ObtenerPorFlashcard] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- RESPUESTA: Obtener por Flashcard
CREATE   PROCEDURE [dbo].[sp_Respuesta_ObtenerPorFlashcard]
    @id_flashcard INT
AS
BEGIN
    SELECT id_respuesta, texto_respuesta, es_correcta
    FROM Respuesta
    WHERE id_flashcard = @id_flashcard AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Respuesta_ObtenerPorID] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Respuesta_ObtenerPorID]
  @id_respuesta INT
AS
BEGIN
  SELECT * FROM Respuesta 
  WHERE id_respuesta = @id_respuesta AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_TipoUsuario_Actualizar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TipoUsuario_Actualizar]
  @id_tipo_usuario INT,
  @nombre_tipo VARCHAR(50)
AS
BEGIN
  UPDATE TipoUsuario
  SET nombre_tipo = @nombre_tipo
  WHERE id_tipo_usuario = @id_tipo_usuario AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_TipoUsuario_Crear] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------
-- 4. CRUD COMPLETO (con eliminación lógica)
------------------------------------------------------------

------------------------------------------------------------
-- TIPOUSUARIO
------------------------------------------------------------

CREATE   PROCEDURE [dbo].[sp_TipoUsuario_Crear]
  @nombre_tipo VARCHAR(50)
AS
BEGIN
  INSERT INTO TipoUsuario (nombre_tipo)
  VALUES (@nombre_tipo);

  SELECT SCOPE_IDENTITY() AS id_tipo_usuario;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_TipoUsuario_Eliminar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TipoUsuario_Eliminar]
  @id_tipo_usuario INT
AS
BEGIN
  UPDATE TipoUsuario SET activo = 0 WHERE id_tipo_usuario = @id_tipo_usuario;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_TipoUsuario_Obtener] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TipoUsuario_Obtener]
AS
BEGIN
  SELECT * FROM TipoUsuario WHERE activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_TipoUsuario_ObtenerPorID] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TipoUsuario_ObtenerPorID]
  @id_tipo_usuario INT
AS
BEGIN
  SELECT * FROM TipoUsuario 
  WHERE id_tipo_usuario = @id_tipo_usuario AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuario_Actualizar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Usuario_Actualizar]
  @id_usuario INT,
  @nombre VARCHAR(100),
  @correo VARCHAR(100),
  @nivel_educativo VARCHAR(100),
  @id_tipo_usuario INT
AS
BEGIN
  UPDATE Usuario
  SET nombre = @nombre,
      correo = @correo,
      nivel_educativo = @nivel_educativo,
      id_tipo_usuario = @id_tipo_usuario
  WHERE id_usuario = @id_usuario AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuario_Crear] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------------------------------------------------------------
-- USUARIO
------------------------------------------------------------

CREATE   PROCEDURE [dbo].[sp_Usuario_Crear]
  @nombre VARCHAR(100),
  @correo VARCHAR(100),
  @contraseña VARCHAR(255),
  @nivel_educativo VARCHAR(100),
  @id_tipo_usuario INT
AS
BEGIN
  INSERT INTO Usuario (nombre, correo, contraseña, nivel_educativo, id_tipo_usuario)
  VALUES (@nombre, @correo, @contraseña, @nivel_educativo, @id_tipo_usuario);

  SELECT SCOPE_IDENTITY() AS id_usuario;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuario_Eliminar] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Usuario_Eliminar]
  @id_usuario INT
AS
BEGIN
  UPDATE Usuario SET activo = 0 WHERE id_usuario = @id_usuario;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuario_Login] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------
-- NUEVOS PROCEDIMIENTOS PARA ESTADÍSTICAS Y FILTROS
------------------------------------------------------------

-- AUTH: Login seguro
CREATE   PROCEDURE [dbo].[sp_Usuario_Login]
  @correo VARCHAR(100),
  @contraseña VARCHAR(255)
AS
BEGIN
  SELECT * FROM Usuario 
  WHERE correo = @correo AND contraseña = @contraseña AND activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuario_Obtener] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Usuario_Obtener]
AS
BEGIN
  SELECT * FROM Usuario WHERE activo = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Usuario_ObtenerPorID] Fecha de script: 1/6/2026 18:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Usuario_ObtenerPorID]
  @id_usuario INT
AS
BEGIN
  SELECT * FROM Usuario 
  WHERE id_usuario = @id_usuario AND activo = 1;
END
GO
